.page-content{
  position: absolute;
  top:0;
  bottom:56px;
  width:100%;
}

span[type=button] {
  appearance: none;
  -webkit-appearance: none;
}
a[type=button] {
  appearance: none;
  -webkit-appearance: none;
}
div[type=button] {
  appearance: none;
  -webkit-appearance: none;
}
